name: NPM Trusted Publishing

# on:
#   push:
#     tags:
#       - "v*"

on:
  push:
    branches:
      - main
    paths:
      - "package.json"

env:
  NODE_VERSION: 24

permissions:
  id-token: write
  contents: read

jobs:
  on-version-tag:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout tagged commit
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org/"

      - name: Show tag info
        run: |
          echo "Tag name: $GITHUB_REF_NAME"
          echo "Commit SHA: $GITHUB_SHA"

      - name: Install dependencies
        run: |
          npm ci

      - name: Build project
        run: |
          npm run build

      # - name: Ensure no legacy npm token
      #   run: |
      #     npm config delete //registry.npmjs.org/:_authToken || true
      #     rm -f ~/.npmrc
      #     rm -f .npmrc

      # - name: Publish (OIDC)
      #   run: npm publish --provenance --access public
      #   env:
      #     NPM_CONFIG_USERCONFIG: ${{ runner.temp }}/.npmrc

      - name: Publish (OIDC)
        run: NODE_AUTH_TOKEN="" npm publish --access public

      - name: Get package version
        id: get_version
        uses: bbonkr/get-version-action@v1.0.5
        with:
          project: "./package.json"

      - uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: workflow,job,commit,repo,ref,author,took
          custom_payload: |
            {
              attachments: [{
                color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                text: `ch-admin-api-client-typescript ${{ steps.get_version.outputs.version }} publish ${{ job.status }} in ${process.env.AS_TOOK}`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          if: always()
