name: Version Update

on:
  repository_dispatch:
    types:
      - publish npm package

env:
  NODE_VERSION: 24

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org/"

      - run: npm ci

      - name: Echo payload
        run: echo ${{ github.event.client_payload.message.tag }}

      - name: NPM-Version
        uses: Reedyuk/NPM-Version@1.1.1
        with:
          version: ${{ github.event.client_payload.message.tag }}
          package: ./

      - name: Add & Commit
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github-actions[bot]
          author_email: github-actions[bot]@users.noreply.github.com
          # tag_push: "--force"

      # - name: Check if tag already exists
      #   run: |
      #     VERSION="${{ github.event.client_payload.message.tag }}"
      #     if git rev-parse "$VERSION" >/dev/null 2>&1; then
      #       echo "Tag $VERSION already exists"
      #       exit 1
      #     fi

      # - name: Create tag
      #   run: |
      #     git config user.name "github-actions[bot]"
      #     git config user.email "github-actions[bot]@users.noreply.github.com"
      #     VERSION="${{ github.event.client_payload.message.tag }}"
      #     git tag -a "$VERSION" -m "Release $VERSION"

      # - name: Add commit
      #   run: |
      #     VERSION="${{ github.event.client_payload.message.tag }}"
      #     git config user.name "github-actions[bot]"
      #     git config user.email "github-actions[bot]@users.noreply.github.com"
      #     git add .
      #     git commit -m "chore: automated update $VERSION"

      # - name: Push changes
      #   run: |
      #     git push origin ${{ github.event.repository.default_branch }} --follow-tags

      - run: npm run build

      # - name: Ensure no legacy npm token
      #   run: |
      #     npm config delete //registry.npmjs.org/:_authToken || true
      #     rm -f ~/.npmrc
      #     rm -f .npmrc

      # - name: Publish (OIDC)
      #   run: npm publish --provenance --access public
      #   env:
      #     NPM_CONFIG_USERCONFIG: ${{ runner.temp }}/.npmrc
